{% load static %}

<!DOCTYPE html> 
<html lang="en" class="h-100">
   <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Moon Landing | A Wall of Memories</title>
        <meta property="og:title" content="Moon Landing | A Wall of Memories" />
        <meta name="author" content="Mark Taguiad" />
        <meta property="og:locale" content="en_US" />
        <meta name="description" content="Mark Taguiad" />
        <meta property="og:description" content="Mark Taguiad" />
        <link rel="canonical" href="" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <meta property="og:url" content="http://jeremie.tagsdev.click/" />
        <meta property="og:site_name" content="Moon Landing | A Wall of Memories" />
        

        <title>Moon Landing | A Wall of Memories</title>
        <meta name="description" content="Moon Landing | A Wall of Memories">

        <script src="{% static 'js/theme.js' %}" defer></script>    
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/fa.png' %}" />
        <!--<div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.css" type="text/css" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
   </head>
   <body>
            
        <header>
            <div class="imagewrapper-logov1">
                <div ><img src="{% static 'img/new_moon.png' %}"  role="button" onclick="toggleTheme()"></div>
            </div>     
            <div class="headertop" >
                <div class="headercenter tagstitle" >Moonlight Memories <br/></div>
                <div class="headercenter">
                    <span class="headercenter-margin" id="theme-toggler"  style="color: #6c757d; font-size:1.5000em" onMouseOver="this.style.color='#e7d4bd'" onMouseOut="this.style.color='#6c757d'" role="button" onclick="toggleTheme()"></span> 
                </div>  
            </div>
        </header>  
        
            
        <main>
            <h2 class="tagsbody" style="font-size:20px;">Bulan ko,</h2>
            <p class="tagsbody">&nbsp;</p>

            <p class="tagsbody">Agam-amiris nak ket napanunot ko kasano ka kaayat, ket kasla haan ko naiparikna unay kanyam. Isu nga isursurat ko aytoy tata, ken kayat ko maamwam kasano ka kapateg ditoy biag ko.</p>
            <p class="tagsbody">&nbsp;</p>
            
            <p class="tagsbody">Malagip ko pay idi immuna ta ibaga nga agininayat tan, ammuk agap-apa ta pay idi.Kayat nak nga tumalawen, siyak met nga mabain ken haan ka kayat masaktan ket nagwen nak met. Jay nariknak idi ken naibagak ket agpaysu tatta ken inggana lipas. Idtoy ko narikna nga uray man inbaga ta nga agsina ta, namati nak nga agkita tantu manen.</p>
            <p class="tagsbody">&nbsp;</p>

            <p class="tagsbody">Agyaman nak ta nagpaypayso, adadtoy ta paylang uray man nagado di napasamak nga madi. Uray man namin adu ta nagsangsangit ken naggapapa. Haan kuma madagdagananen, kayat ka lang nga arakupen ken bisungen lattan. Kayat ko maamwam kaso kapintas ken kadalos dayta pusom. Kayat ko maamwan kasano ka kapintas, mayat la kuma nga agsinukat ta mata ta makitam ana makitkitak. Nagmayat ti riknak kinanayun basta kaskasarita ka, kasla nagsardeng ti lubong tas haan ta napupuotanen jay oras.</p>
            <p class="tagsbody">&nbsp;</p>

            <p class="tagsbody">Siyak siguron iti kaswertean nga tao ditoy lubongen. Permi iti ay-ayat ko ta nasapulan ka, naamamuka ka, biag ko. Pinunnom iti ayat ken isem iti biag kon.</p>
            <p class="tagsbody">&nbsp;</p>

            <p class="tagsbody">Ammok nga addu pay ti nagkurangak ken adun to pay haan ta pagkinnaawatan. Ngem ammok nga basta kadwa ka nalaka ta lang na labsan dagitoy. Ayayaaten ka unay, biag ko, uray ana man ana ti mapasamak adadtoy nak latta abay mo nakaiggem ta imam. Haan nak pulosen agaramid iti madi. Ikarik nga napudno nak lang kanyam ken awanen pulos ti sapulekun. Ikarik nga napudno ken natalnek lang kanyam ken pulos nga awan sapulekun.</p>
            <p class="tagsbody">&nbsp;</p>

            <p class="tagsbody">Haan nga aglipas ti pinagayat ko kanyam, biag ko, uray man aguban iti buok tan. Sika laeng ti biag ken isem ko, ayayaten ka ingana-ingana.</p>
            <p class="tagsbody">&nbsp;</p>

            <p class="tagsbody">- Mark Taguiad</p>
            <p class="tagsbody">&nbsp;</p>






        </main> 

        
        

        <footer class="footercenter">
            <!--
            <div class="headercenter">
                
                <a class="social mx-1" href="http://facebook.com/taguiad/" target="_blank" style="color: #6c757d" onMouseOver="this.style.color='#3b5998'" onMouseOut="this.style.color='#6c757d'"> <i class="fab fa-facebook fa-1x"></i> </a>
                <a class="social mx-1" href="https://www.instagram.com/mcbtaguiad/" target="_blank" style="color: #6c757d" onMouseOver="this.style.color='#C13584'" onMouseOut="this.style.color='#6c757d'"> <i class="fab fa-instagram fa-1x"></i> </a>
                <a class="social mx-1" href="https://twitter.com/mcbtaguiad/" target="_blank" style="color: #6c757d" onMouseOver="this.style.color='#1da1f2'" onMouseOut="this.style.color='#6c757d'"> <i class="fab fa-twitter fa-1x"></i> </a>  
                <a class="social mx-1" href="https://github.com/mcbtaguiad/" target="_blank" style="color: #6c757d" onMouseOver="this.style.color='#333333'" onMouseOut="this.style.color='#6c757d'"> <i class="fab fa-github fa-1x"></i> </a>
            
                <a class="social mx-1" href="https://www.linkedin.com/in/mark-christian-taguiad/" target="_blank" style="color: #6c757d" onMouseOver="this.style.color='#007bb5'" onMouseOut="this.style.color='#6c757d'"> <i class="fab fa-linkedin-in fa-1x"></i> </a>
                
                
            </div>
            -->
             <div class="tagstitle footer-margin"> Copyright &copy; 2022 Moon Landing &#8212; All Rights Reserved. </div>
            
        </footer>

        <!--<script data-cfasync="false" src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>-->
        <script async defer src="https://buttons.github.io/buttons.js"></script>  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>  
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>  
        <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"></script> 
        <script> new WOW().init(); </script>  
        <script> $(function () { $('[data-toggle="tooltip"]').tooltip() }) </script> 
   </body>
</html>

