{% load static %}

<!DOCTYPE html> 
<html lang="en" class="h-100">
   <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Moon Landing | A Wall of Memories</title>
        <meta property="og:title" content="Moon Landing | A Wall of Memories" />
        <meta name="author" content="Mark Taguiad" />
        <meta property="og:locale" content="en_US" />
        <meta name="description" content="Mark Taguiad" />
        <meta property="og:description" content="Mark Taguiad" />
        <link rel="canonical" href="" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols" rel="stylesheet">
        <meta property="og:url" content="http://jeremie.tagsdev.click/" />
        <meta property="og:site_name" content="Moon Landing | A Wall of Memories" />

        <title>Moon Landing | A Wall of Memories</title>
        <meta name="description" content="Moon Landing | A Wall of Memories">

        <script src="{% static 'js/theme.js' %}" defer></script>    
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/fa.png' %}" />
        <!--<div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.css" type="text/css" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
   </head>
   <body>
            
        <header>
            <div class="imagewrapper-logov1">
                <div ><img src="{% static 'img/new_moon.png' %}"  role="button" onclick="toggleTheme()"></div>
            </div>     
            <div class="headertop" >
                <p href="bulanko" target="_blank" class="headercenter tagstitle" >Moonlight Memories <br/></p>
                <div class="headercenter">
                    <span class="headercenter-margin" id="theme-toggler"  style="color: #6c757d; font-size:1.5000em" onMouseOver="this.style.color='#e7d4bd'" onMouseOut="this.style.color='#6c757d'" role="button" onclick="toggleTheme()"></span> 
                </div>  
            </div>
        </header>  
        <div>
        
            <div id="tagstagstags">
                <figure><img src="https://drive.google.com/uc?id=1wXDmUZYLnhdn4t-oLrXInNCcm3Ay9Wnc" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1OyFuUEXlN3LRKQnEApg8nkGINmq-b2Lx" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1lwXiaoy-cn3vAKpk0q3I0WBpIR0OekHo" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1_Vw-T2ASznGDDhbrSx6leyLumcMMMCl4" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1f3YKV4dQl0pqMIeIH6rbZ0j1RqAwrcE6" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=17LO0GwfHbMb4difv3Mz_jBxNYb1x2Fa0" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1Tuxr9P9J3nCHXrSCMeyQZeQMxk-kLZ8V" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=18LFoRZ8DicCfghchpJZ3k88Hoi-mQm4t" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1Yoke4m2VTIczlsn1R_y9agsPgkzWv5o9" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=16bjdNQAlZmY5cJzXBx4VaSwF9M2hZEfk" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1kdU1SQ_5uuMKX5IRma9c5hira33eIZu7" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1_R8DkaFqfmtah2MxiMndBXrEuTEbWBIM" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1lCcklPK7WD_eHvoDeSgcOQuHNG3RJ1uR" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=16peeIMeqZA_58i7NvwBqb6bIz167FN3x" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1FWtp4F4kv_0LvgoLeQnbAarDV0sxkdqZ" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1HRTlukAqUi3Yqn_XHTObsxbMmhry8xP0" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1TI67oQZwML81ANQi6EKHL3o-utENHZ1w" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1ItSbVpo4Xtt5R70EjRy4Vvr-K30jP8OA" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1WRFy76ePpdwZIKDC1XlVcWoYFDXYNYJq" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1ME12x2ajeCzDYfOFqaPl2kEV9x-VICrX" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1h3tXuUb7kQB2MOX1mlBfjI9yGR1m2oHo" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1XasWqhntsPc5I7Of0JVImq2CHigz2GMB" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1MfQ3cWADUAviG6G2wXHuEKTaJ_whZk2F" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1f5G416b4rbOjgYwkQQeq2KmaMl8Ienit" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1OSgUi7gE9guSCWYYchrBOiL_YbTBbTBu" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1O1qrGelN73XSTDvPzYvzZYaCLug0eIa3" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1RLPErRG7pHGUkO-TLS7_QJh_Fz9WyiKu" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1eqRZRtUHlBnOuArFZio8OsxhLd1HJnYF" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1XWO-rAc3ZU-zsz63W4vI91iPYSPnHLkD" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1gwU9XkH8VolGDlojXHFBZF1Wqy-LvXuM" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1yTKdCna17vF4Zm-IipFbKTWn39ormT-Q" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1gaK3DoCUHtqBdoNjqNeE5erIDAiuI-dX" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1JnQlDeEZ71afIdqdVCfdJ8SNWCjL1CC0" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1OsiPyzYjgTB8710tcdhNhgX46LAhbnLp" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1P2EwkML5DBExn4OrLVwFedkK9KHTU0aJ" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1WGuOjEYmQI3phCxpDyQxwIKGCV7im_5G" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1de_s0kugAHtFkY8-hU3MAtEmfCS8DHIS" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1_tyes-kpsa6alNIQVNnagtRSTDHTPi5W" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1pVhZdbn6OuRFsSvT81em1U8SAGhbFEvT" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1CzUTG5xkHdHbWUrN7nUA-f9dK_ESqU5U" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1x857MFbZDy9uVDYWy5tPZYtZScxOi4vJ" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1_5F879xCJntkRjmuq44avbyp_q_r3N1h" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1rhG55WhO9j9WQr16fhJ_Xed1JwX5ftZE" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1zhNc4EonQ70GWXzHYkrZeaUNATVoITlM" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1aargqWV_hjmLtqd48fOaT05CHNRoCIwe" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1-wcNC-WJWo9V6P2ezcUAeHL87z_dg3Ai" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1GUjJCTk4u382rwnqdMA5J-PATLBHc2ys" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=11vSY9P0FIv4CUhm9YBSbEYkhKKTW5ive" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1AffLtGgqrRge9y0U1h42rAtcshydVsQD" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1G8qgJ-DNlAfXj7caZE_B9T3piPFHzNR4" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1DN7WNuPvXuQEhpx0_SsCGNtcZviFsPbF" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1rsAc6pnYxiC94QtNxQzL6StsIjru9gKn" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1yf_BVZWpM3VyKimJLTFRFVq8Hj02UpWg" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1owNN_KP_Rucl-os1zv9bE833hNtIlvhg" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1W_m1D2Q-ofGpPW4JC7kaE0yCOeY4AYrx" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1ZbHm_n5CLoirUzdcSGEQtKFCwAWY4_7R" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1e9c17WPRhLsX65TVZtplQEdfJOwuIbig" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1xgJUt7WBIkMDjQL5YPfhSGruuF2jG9UZ" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1HIWTVlpEC2M0apX25AVYfh20a9ODG6s1" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1KDIqwhyQF5pmPdY34UDHaVdVi5NYbW5V" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1t_KTehNT43EE9G5XJc9HU1U505HSgEcp" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1tlQVydhplzLjKqOSYF3TM11eVzpjKVJM" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1tnvGDmwku77hiKZMNjyTMAwONe7jmQRE" loading="lazy"></figure>

                <figure><img src="https://drive.google.com/uc?id=1uAmrxJt5RUxcRX4D2PLNRR8fyaqhroX_" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1unRr8kWvdqu9vBdh2cEyoRLAvNaouGxD" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1ugDb6HHlNqE8q46CVI5rmP6FtdX0B_XL" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1ulZEeOLq2fdYSSMfqNyVBPZvLicP4gUE" loading="lazy"></figure>

                <figure><img src="https://drive.google.com/uc?id=1vQsUDhgz6NJQbS3U-ZL9GjVmTv5rNWUn" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1vZIb-Irx68zXmo6JImtRTRRsNkKwZYny" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1vcpOHOFK_hrGT9nVYtBfhIgzAT1XEZR1" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1vf-iSU4KnFB8RySjpqVDg7OQmRmriNgJ" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1y0Mrx6ChMwQ8rUTZTiPZzzXM8sLObRqI" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1xzeW9xRGbK1_O6NdyumSLoX0CRZ6eHht" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1xyDNN29A9iXLs3VlN1oKfOMMLSm45Ieb" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1xkNzk10TTJcxxcZdmpWlgvxrQOhe059T" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1xh7eKRE3dHIXgXpYPFqsGsZ_RYZp4Ri_" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1xgod1zzsJheBYrARr4CDkHKW_QbMS_My" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1xgmA9CuJuBH3ITMuJGlvPXqrw_PblfmQ" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1xglHjVQUle44B30BJZRvSsh5VmutJp7_" loading="lazy"></figure>


                <figure><img src="https://drive.google.com/uc?id=1xcdxArZT9WNEZ9N9pBsBy2YKKJ7xtnMF" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1xW_NMkKiREsgolkPU4doSmmbwb2mgXDg" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1xUpYSWFipwTJVikOUWGmav3iyWLNq4kS" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1xPdT9TzXZe26SUaypShJVc7fRP01XUFk" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1xK2eSSJ0PQljajF5_ow0uB6-LpAixIOR" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1xN5lyFtIkKI76eux5gZ-WL5XW9eRZ2jB" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1xJsejWPdX66uZywxDqR9xs7BfZlRgUY4" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1x3WjXObYM0ZP5X5CiifI0TO5orJpNyqS" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1wzf3CKJpCk-31ATPexfpPUjQmw41t66R" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1wlflTZRXUpabowESBZbXqvBuQxuIfK99" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1wfELwjoV1cFSZ__0BNhgbvwAp_NiHzbz" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1w_2rGrKeZMjamIuspqTOboAqzoh219UC" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1wV9IhBwUuGjuASaajYMdoX7fv7NNIDWD" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1wDGRzoi9emLWwN1OUzPohUWrBrlXjqIY" loading="lazy"></figure>


                <figure><img src="https://drive.google.com/uc?id=1wAFoXNHUJf3PsBqjQlDYV-RDkwaWoL2y" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1w-5F5_aok0paL8g3qu-LGljO--JEMfEG" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1vw31b8Sgvaej6MH5dqfJxdJHIl6iSfjM" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1vuE_QkqGQWYvpO9EsU-I0CqwCzrR5tSP" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1vrtlOzoUmFVqoke6D2atXFBMa11yhSyW" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1vpQ6nT8Hi8xjLZrMkAB_bBtWVYSFEity" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1y8emEnU49p3YzNCoRNYRY1i3fe7k8xvb" loading="lazy"></figure>
                <figure><img src="https://drive.google.com/uc?id=1vhmIl30VOS0_DOzJw4vqYbUpI9omaqdr" loading="lazy"></figure>


                

                

                
                <!--
                <figure class="multi-tracks-2"> <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/6MxYAYlnE8M1hTCOOrgzbH?utm_source=generator"   max-height="300" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe> </figure>
                <figure class="multi-tracks-2"> <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/68iGpD5HolBw2Xjo51NXrX?utm_source=generator"   max-height="300" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe> </figure>
                
                <figure class="multi-tracks-2"> <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/1BTT6SaREprmLDrppNbctT?utm_source=generator"   max-height="300" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe> </figure>
                

                -->
                <figure><iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/3LvrJEPQ61Vvj1t3Edg20X?utm_source=generator"   frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe> </figure>
                <figure><iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/4y5bvROuBDPr5fuwXbIBZR?utm_source=generator"   frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe></figure>
                <figure><iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/3rWDp9tBPQR9z6U5YyRSK4?utm_source=generator"   frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe></figure>
                <figure><iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/51lPx6ZCSalL2kvSrDUyJc?utm_source=generator"   frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe></figure>
                <figure><iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/467t3218y3yihFcyDGWjr0?utm_source=generator"   frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe></figure>
                <figure><iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/37oU0liybMY8aI9u6QMVM9?utm_source=generator"   frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe></figure>
                <figure><iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/0Lcc3zKpU9RcIqwnYGh6GF?utm_source=generator"   frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe></figure>
                <figure><iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/5enxwA8aAbwZbf5qCHORXi?utm_source=generator"   frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe></figure>
                <figure><iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/5HKv1sFHbXgmXBih203HxT?utm_source=generator"   frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe></figure>
                <figure><iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/4FhRk96fFtvOe3BzihwZVa?utm_source=generator"   frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe></figure>
                <figure><iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/7FAVLkURPfkgs2G2ByHFe0?utm_source=generator"   frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe></figure>
                <figure><iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/1SIlHH7satK5PgBGl22njE?utm_source=generator"   frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe></figure>
                <figure><iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/7DUmSBR4QzlTdlsIVo62ra?utm_source=generator"   frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe></figure>
                <figure><iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/1tC2PLqLeJXt0VlgOYpc6m?utm_source=generator"   frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe></figure>
            
            </div>
        </div>
        
        
        
        <!--
        <div class="footercenter  social-margin">
            
            <div >
                
                <a class="social mx-1" href="http://facebook.com/taguiad/" target="_blank" style="color: #6c757d" onMouseOver="this.style.color='#3b5998'" onMouseOut="this.style.color='#6c757d'"> <i class="fab fa-facebook fa-1x"></i> </a>
                <a class="social mx-1" href="https://www.instagram.com/mcbtaguiad/" target="_blank" style="color: #6c757d" onMouseOver="this.style.color='#C13584'" onMouseOut="this.style.color='#6c757d'"> <i class="fab fa-instagram fa-1x"></i> </a>
                <a class="social mx-1" href="https://twitter.com/mcbtaguiad/" target="_blank" style="color: #6c757d" onMouseOver="this.style.color='#1da1f2'" onMouseOut="this.style.color='#6c757d'"> <i class="fab fa-twitter fa-1x"></i> </a>  
                <a class="social mx-1" href="https://github.com/mcbtaguiad/" target="_blank" style="color: #6c757d" onMouseOver="this.style.color='#333333'" onMouseOut="this.style.color='#6c757d'"> <i class="fab fa-github fa-1x"></i> </a>
            
                <a class="social mx-1" href="https://www.linkedin.com/in/mark-christian-taguiad/" target="_blank" style="color: #6c757d" onMouseOver="this.style.color='#007bb5'" onMouseOut="this.style.color='#6c757d'"> <i class="fab fa-linkedin-in fa-1x"></i> </a>
                
                
            </div>
 
        </div>
        -->
        <footer class="footercenter">
            <!--<i class="fa fa-copyright tagstitle footer-margin" aria-hidden="true"></i> 2022  <a href=""><strong>Moon Landing</strong></a> -->
            <div class="tagstitle footer-margin"> Copyright &copy; 2022 Moon Landing &#8212; All Rights Reserved. </div> 
            
        </footer>

        <!--<script data-cfasync="false" src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>-->
        <script async defer src="https://buttons.github.io/buttons.js"></script>  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>  
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>  
        <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"></script> 
        <script> new WOW().init(); </script>  
        <script> $(function () { $('[data-toggle="tooltip"]').tooltip() }) </script> 
   </body>
</html>

